<h1>Facebook#callback</h1>
<p>Find me in app/views/facebook/callback.html.erb</p>

<%= debug @result %> <br>
<%= debug @response %> <br>
<%= debug @user_data %> <br>

<%= link_to 'logout', logout_path %>
