
<% content_for :page_title do %>
  <%= "#{I18n.t('news')} (#{@count})" %> 
<% end %>


<div>
    <% @items.each do |item| %>
      <br>
      <%= item.to_json %>
    <% end %>
</div>



<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div id="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
      <div id="book_similarities">
      </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>

<% end %>



              <script type="text/javascript" >
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @last_book) %>"); 
              </script>    



