<html>
  <head>
    <title>Socialsho.ws feedback </title>
  </head>
<body style="font-family:Arial, Helvetica, Sans-Serif; font-size:9pt">
User name:
<p>
 <%= @name%>
</p>
User email:
<p>
 <%= @email %>
</p>
Feedback:
<p>
<%= @message %>
</p>
</body>
</html>




