<html>
  <head>
    <title>Libroshelf error</title>
  </head>
<body style="font-family:Arial, Helvetica, Sans-Serif; font-size:9pt">
User:
<p>
 <%= @user.id if @user%>
</p>
Request:
<p>
 <%= @request.url %>
</p>
Exception message:
<p>
 <%= @message%>
</p>
Backtrace:
<p>
<%= @error %>
</p>
</body>
</html>




