<%= debug session[:locale] %>

        <div class="white-box">
          <div id="login-message">
            <div class="title">
              Login
            </div>
          <p>
            What are you waiting for? Click on the green button above to start.
          </p>
          </div>
          <div id="welcome-message">
          <h1>Which book are you reading?</h1>
          <p>
            Do you want to know who friends have read it and what people are saying about it?
          </p>
<%= form_tag search_path, :remote => true  do  %>
<%= text_field_tag 'title', params[:title]  %>
<%= submit_tag 'procura' %>
          </div>

<div id="book_search_results">
</div>
        </div>





<% end %>





