
<% unless logged_in? %>
<%= link_to "facebook", facebook_permission_path %>

<% end %>



<%= form_tag search_path, :remote => true  do  %>
<%= text_field_tag "title"  %>
<%= submit_tag 'procura' %>

<% end %>

<div id="book_search_results">
</div>




