

<h1>Make your reading experience more fun </h1>
<h2>Don't read alone anymore, share your readings  </h2>
<h2>Don't be selfish, share your adventures with your friends </h2>
<h2>looking for your next book? see what your friends are reading and their opinions </h2>
<h2>See and create reviews, comment your friends reviews and much more</h2>
<%= link_to "facebook", facebook_permission_path %>

