
        <div class="white-box">
          <h1>Libroshelf is a Virtual Bookshelf to share with friends</h1>
          <div id="login-message">
            <div class="title">
              Login
            </div>
          <p>
            What are you waiting for? Click on the green button above to start.
          </p>
          </div>
          <div id="welcome-message">
          <p> Libroshelf is organized in four bookshelves </p>
            <p>Recommended bookshelf: this shelf contains the books that your friends have recommended you</p>
            <p> Reading bookshelf: This is the shelf that contains the book that you are reading </p>
             <p> Read bookshelf: This is the shelf your friends can find all the books that you have read</p>
             <p> Favorite bookshelf: This is the shelf where your friends can see what are your favorite books</p>
          <p>
            Are you a reader? try us. You will find out what your friends are reading or have read in the past. Share your readings.
          </p>
          </div>
        </div>

      <div class="section-title">
        <h2> <%=  'Last books that have entered in Libroshelf' %></h2>
      </div>
        <div>
          <%= render :partial => '/books/book_item_small', :collection => Book.last(20) %>
        </div>

