<% content_for :meta_seo do %>
  <meta name="description" content="<%= I18n.t 'meta_desc_landing'%>" />
  <meta name="keywords" content="keywords, metatags, do, not, matter" />
<% end %>

        <div class="white-box">
          <h1><%= I18n.t 'landing_h1' %></h1>
          <div id="login-message">
            <div class="title">
              Login
            </div>
          <p>
            What are you waiting for? Click on the green button above to start.
          </p>
          </div>
          <div id="welcome-message">
          <p>
            Are you a reader? try us. You will find out what your friends are reading or have read in the past. Share your readings.
          </p>
          </div>
          <div class="cleaner">
          </div>
        </div>

      <div class="section-title">
        <h2> <%=  'Last books that have entered in Libroshelf' %></h2>
      </div>
        <div>
          <%= render :partial => '/books/book_item_small', :collection => Book.last(20) %>
        </div>

