<div class="support_pages">
<h1>Privacy Policy </h1>
<p>The porpuse of Libroshelf is to make reading a shared experience between friends. To create a place where everyone can ask and recommend books. So Libroshelf is not interested in collecting private information, actually LibroShelf doesn't ask for private information as phone, address, sex, birthday, jobs...</p>
<p>Libroshelf knows that you care about how your personal information is used and shared, and we take your privacy very seriously. By visiting the Libroshelf website, you are accepting the practices outlined in this Privacy Policy. </p>
<p>This policy does not apply to the practices of third parties that Libroshelf does not own or control, or to individuals that Libroshelf does not employ or manage. </p>

<h2>Information Collected by Libroshelf</h2>

<p>We only collect personal information that is relevant to the purpose of our website, which is to enable users to share their reading experiences. This information makes posible the services that our site provides you like see the books that your friends are reading. We do not process this information in a way that is incompatible with this objective. We collect the following types of information from our Libroshelf users:</p>

    <p>1.Information You Provide to Us: </p>
    <p>We receive and store any information you enter on our website or provide to us in any other way. You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our special features.</p>

    <p>Registration: In order for you to use Libroshelf services, such as creating your boolshelves, you must complete your registration through Facebook. As part of this registration, we have access to personal information (including your full name and e-mail address).</p>

    <p>User Profile: To allow you to express yourself beyond just the information collected during registration, we enable you to provide additional information, such as a bio, favorite URLs, and instant messaging IDs. In addition, you may choose to include photos of yourself in your profile. As indicated below, in the section titled "Sharing Your Information", you can control how your information is displayed and used.</p>
    <p> 2.Automatic Information:
    <p>We receive and store certain types of information whenever you interact with us. Libroshelf and its authorized agents automatically receive and record certain "traffic data" on their server logs from your browser including your IP address, Libroshelf cookie information, and the page you requested. Libroshelf uses this traffic data to help diagnose problems with its servers, analyze trends and administer the website.</p>



</div>
