
<% content_for :page_title do %>
  Libroshelf
<% end %>
<% content_for :meta_seo do %>
  <meta name="description" content="Your bookcase" />
  <meta name="keywords" content="  book, books, reading " />
    
<% end %>

<div class="support_pages">
<h1>Privacy Policy </h1>
<p>The porpuse of Libroshelf is to make reading a shared experience between friends. To create a place where everyone can ask and recommend books. So Libroshelf is not interested in collecting private information, actually LibroShelf doesn't ask for private information as phone, address, sex, birthday, jobs...</p>
<p>Libroshelf knows that you care about how your personal information is used and shared, and we take your privacy very seriously. By visiting the Libroshelf website, you are accepting the practices outlined in this Privacy Policy. </p>
<p>This policy does not apply to the practices of third parties that Libroshelf does not own or control, or to individuals that Libroshelf does not employ or manage. </p>

<div class="section-title">
<h2>Information Collected by Libroshelf</h2>
</div> 

<p>We only collect personal information that is relevant to the purpose of our website, which is to enable users to share their reading experiences. This information makes posible the services that our site provides you like see the books that your friends are reading. We do not process this information in a way that is incompatible with this objective. We collect the following types of information from our Libroshelf users:</p>

    <p>1.Information You Provide to Us: </p>
    <p>We receive and store any information you enter on our website or provide to us in any other way. You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our special features.</p>

    <p>Registration: In order for you to use Libroshelf services, such as creating your boolshelves, you must complete your registration through Facebook. As part of this registration, we have access to personal information (including your full name and e-mail address).</p>

    <p>User Profile: To allow you to express yourself beyond just the information collected during registration, we enable you to provide additional information, such as a bio, favorite URLs, and instant messaging IDs. In addition, you may choose to include photos of yourself in your profile. As indicated below, in the section titled "Sharing Your Information", you can control how your information is displayed and used.</p>
    <p> 2.Automatic Information:
    <p>We receive and store certain types of information whenever you interact with us. Libroshelf and its authorized agents automatically receive and record certain "traffic data" on their server logs from your browser including your IP address, Libroshelf cookie information, and the page you requested. Libroshelf uses this traffic data to help diagnose problems with its servers, analyze trends and administer the website.</p>

<div class="section-title">
<h2>Email Communications</h2>
</div> 

<p>
Libroshelf is very concerned about your privacy and we will never provide your email address to a third party without your explicit permission. Libroshelf may send out e-mails with Libroshelf-related news, products, offers, surveys or promotions. You may also receive notification e-mails from Libroshelf, which inform you of actions (e.g. friend requests) that have been performed on the site. If you do not want to receive e-mail from us, please visit the Email Preferences section of your User Profile and/or follow the instructions contained in the unwanted e-mail message. However, please note that in all cases you will continue to receive all system e-mails and legal notices (e.g. updates to our policies) from us.
</p>

<div class="section-title">
<h2>Cookies</h2>
</div> 

<p>
    Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your Web browser to enable our systems to recognize your browser and tell us how and when pages in our website are visited and by how many people. Libroshelf cookies do not collect personal information, and we do not combine information collected through cookies with other personal information to tell us who you are or what your screen name or e-mail address is.
    The "help" portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. We recommend that you leave the cookies activated because cookies allow you to use some of Libroshelf's coolest features.
</p>

<div class="section-title">
<h2>Sharing Your Information</h2>
</div> 


<p>
We will share your information (in some cases personal information) with third parties, that is parties other than Libroshelf, in the following circumstances:
</p>


<div class="section-title">
<h3>
Third Party Service Providers
</h3>
</div> 

<p>
We will provide your information to third party companies to perform services on our behalf, including payment processing, data analysis, e-mail delivery, hosting services, customer service and to assist Us in our marketing efforts. We direct all such third party service providers to maintain the confidentiality of the information disclosed to them and to not use your information for any purpose other than to provide services on Libroshefl's behalf.
</p>

<div class="section-title">
<h3>
Friends and Other Players
</h3>
</div> 

<p>
The Service supports and may encourage interaction among users. In most your friends will see your name, profile photo and your bookshelves. 
</p>

<div class="section-title">
<h3>
Advertising of Third Party Products and Services
</h3>
</div> 

<p>
We do not actively share personal information with third party advertisers for their direct marketing purposes unless you give Us your consent.
</p>

<p>
We may share (i) aggregated information (information about you and other users collectively, but not specifically identifiable to you); (ii) anonymous information; and (iii) certain technical information (including IP Addresses and mobile device IDs) to develop and deliver targeted advertising in the Service and on the websites of third parties. We may also allow advertisers to collect these types of information within the Service and they may share it with Us. Advertisers may collect this information through the use of tracking technologies like browser cookies and web beacons. The information collected may be used to offer you targeted ad-selection and delivery in order to personalize your user experience by ensuring that advertisements for products and services you see will appeal to you, a practice known as behavioral advertising, and to undertake web analytics (i.e. to analyze traffic and other end user activity to improve your experience). 
</p>


<div class="section-title">
<h3>
Safety, Security and Compliance with Law
</h3>
</div> 

<p>
Your information, and the contents of all of your online communications may be accessed and monitored as necessary to provide the Service and may be disclosed: (i) when We have a good faith belief that We are required to disclose the information in response to legal process (for example, a court order, search warrant or subpoena); (ii) to satisfy any applicable laws or regulations (iii) where We believe that the Service is being used in the commission of a crime, including to report such criminal activity or to exchange information with other companies and organizations for the purposes of fraud protection and credit risk reduction; (iv) when We have a good faith belief that there is an emergency that poses a threat to the health and/or safety of you, another person or the public generally; and (v) in order to protect the rights or property of Libroshelf, including to enforce our Terms of Service.
</p>

<div class="section-title">
<h3>
Sale or Merger
</h3>
</div> 

<p>
In the event that Libroshelf undergoes a business transition, such as a merger, acquisition by another company, or sale of all or a portion of its assets, We may transfer all of your information, including personal information, to the successor organization in such transition. If material changes to Libroshelf's privacy practices will occur as a result of the business transition, We will notify you and other users (in the manner described in Section 12) of the business transition prior to transferring your personal information.
</p>


<div class="section-title">
<h2>
Contact Us
</h2>
</div> 

<p>
If you have any questions, comments or concerns, please send an e-mail to contact@libroshelf.com
</p>


</div>
