
<% content_for :page_title do %>
  Libroshelf
<% end %>
<% content_for :meta_seo do %>
  <meta name="description" content="Your bookcase" />
  <meta name="keywords" content="  book, books, reading " />
    
<% end %>

<div class="sites">
  <div class="site">
    <%= link_to image_tag("sites/espacionoticias.jpg"), 'http://espacionoticias.wordpress.com/' %>
    <div class="description">
      <%= link_to 'Espacio noticias', 'http://espacionoticias.wordpress.com/' %>
      <p>
      Blog de información
      </p>
    </div>
  </div>

</div>
