
<% content_for :page_title do %>
  Libroshelf
<% end %>
<% content_for :meta_seo do %>
  <meta name="description" content="Your bookcase" />
  <meta name="keywords" content="  book, books, reading " />
    
<% end %>

      <div class="section-title">
        <h2> <%= I18n.t 'contact_us' %></h2>
      </div>

<%= render 'form' %>

