<div  class="book-reader-box">
    <%= link_to image_tag(profile_picture_url(friend[:uid]),:width => 45), bookcase_path(:id => friend[:id])%> 
    <div class="user-name"><%= link_to friend[:name], bookcase_path(:id => friend[:id])%></div>
</div>
