
<%= link_to "<h1>#{title(0)}</h2>".html_safe, bookshelf_path(:id => current_user.id), :class => 'link' %>

          <% @books.map{ |experience| experience.adventure.resource }.each do |book| %>
            <%= render :partial => 'book_item', :object => book %>
          <% end %>

