
<h2>REad books</h2>
<%= render 'slider1', :books => @reading.map { |experience| experience.adventure.resource}, :type => 1, :items_slide => 12,:slider_index => 0 %>

<script type="text/javascript" >
    var sliders = [[0,<%= (@reading.size + 2) / 12 %>]];
</script>    

  <%= debug @friends%>
