<% content_for :mainheader do %>

  <%= render 'submenu_friends' %>
<div class="title">
<h1>REad books</h1>
</div>


<% end %>



<%= render 'slider1', :books => @reading, :type => 1, :items_slide => 12,:slider_index => 0 %>

<script type="text/javascript" >
    var sliders = [[0,<%= (@reading.size + 2) / 12 %>]];
</script>    

