
<div class="section-title"> 
  <h2><%= "#{I18n.t('search_title')}<span class=\"search_paramater\">#{params[:title]}</span>".html_safe %></h2>
</div>
<div id="book_search_results">
 <% unless @books.empty? %>
    <%= render :partial => 'search_book_item', :collection => @books%>
  <% else %>
    <div class="empty-legend"> 
      <%= I18n.t('search_emty_legend_html').html_safe %>
    </div>
  <% end %>
</div>




<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div class="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
    <div id="book_similarities">
    </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>



<% end %>


 <% unless @books.empty? %>
              <script type="text/javascript" >
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @books[0].raw.ASIN) %>"); 
              </script>    
  <% end %>
