    
<%= form_tag search_path do  %>
<%= text_field_tag "title"  %>
<%= submit_tag 'procura' %>
  <% end %>
sdfasdf
<div id="book_search_results">
 <% if @books %>
    <%= render :partial => 'search_book_item', :collection => @books%>
  <% end %>
</div>

