
<% content_for :mainheader do %>

  <%= render 'submenu_my_bookshelf' %>
<div class="title">
<h1><%= title(0) %></h1>
</div>


<% end %>

          <%= render :partial => 'book_item', :collection => @books %>

