<%= debug @book%>
<h1> <%= "#{@book.title} by #{@book.author}" %> </h1>

<div >

<div class="left_float">
  <%= image_tag @book.medium_image%><br> 
</div>
<div class="left_float">
  <%= %>
</div>

</div>

