/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

a:hover {background-color:transparent;}
a.link{text-decoration: none;}
/* REDEFINITIONS*/
/* colors e9eaec */
body  { background-color:white;font:normal 100% helvetica,arial,clean,sans-serif; color:black;margin:0; }


/*ul {list-style: none; margin:0; padding:0} */
select.classic{height:18px;font-size:11px}
a img{border:0 none}

/* COMMON */
.wrapper-1280{width:1216px; margin: 0px auto; }
.wrapper{width:960px; margin: 0px auto; }
.wrapper_with_wings{min-width:960px;margin: 0px auto; }
div.cleaner{ clear:both; }
ul.menu {list-style: none; margin:0; padding:0; }
ul.menu li {height:100%;float: left;  margin:0px; padding: 3px 5px;} 
div.hidden {display:none;}
.left_float{float:left;}
.right_float{float:right;}

/* HEADER */
#fixed-header{
 background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: relative;
    z-index: 10;
    height:40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 112;

   // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);


}

#header .menu {margin-top:10px;}
#header .menu li{color:#CCCCCC;font-size:15px;}
#header .menu li a{color:#333333;font-size:15px;}

/* MAIN CONTENT */
#main{margin-top:50px;min-height:400px;}
#main-sidebar{float:right}
#main-content{width:718px;}



.white-box{
 margin-top:5px;
 margin-bottom:10px;
 border-color: #fbfcfd;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
  background-color:white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color:#636363;

}
.white-box h1{color:#2160BA;font-size: 30px;
    font-weight: bold;line-height:10px; }
.white-box #welcome-message{
  

margin-right:300px;padding-left:10px;}
.white-box #login-message{


background-color:#7799cd;
color:white;
font-weight:bold;
    border-style:solid;
    border-color:#6783ac;
    border-width:1px;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
margin-left:10px;


width:300px; float:right;}

.white-box #login-message .title{ color:#2160BA;font-size: 14px;
    font-weight: bold;}

/* BUTTONS */

.box-accross{ 
background-repeat:repeat;
 background-image: url("pixel-blue-transparent.png");
min-height:50px;


}

.green-button{
background-image: linear-gradient(bottom, rgb(71,186,13) 8%, rgb(71,186,13) 70%, rgb(171,230,134) 99%);
background-image: -o-linear-gradient(bottom, rgb(71,186,13) 8%, rgb(71,186,13) 70%, rgb(171,230,134) 99%);
background-image: -moz-linear-gradient(bottom, rgb(71,186,13) 8%, rgb(71,186,13) 70%, rgb(171,230,134) 99%);
background-image: -webkit-linear-gradient(bottom, rgb(71,186,13) 8%, rgb(71,186,13) 70%, rgb(171,230,134) 99%);
background-image: -ms-linear-gradient(bottom, rgb(71,186,13) 8%, rgb(71,186,13) 70%, rgb(171,230,134) 99%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.08, rgb(71,186,13)),
	color-stop(0.7, rgb(71,186,13)),
	color-stop(0.99, rgb(171,230,134))
);
color:white;
 border-color: #abe686 #abe686 #abe686 #abe686;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;



}

.green-button2{
background-color:#6ecf33;
color:white;
font-size:19px;
font-weight:bold;
 border-color: #abe686 #abe686 #abe686 #abe686;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
width:200px;
height:100px;



}

.green-button3{
background-color:#6ecf33;
color:white;
font-size:19px;
font-weight:bold;
 border-color: #abe686 #abe686 #abe686 #abe686;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;



}
.green-button3-small{
background-color:#6ecf33;
color:white;
font-size:15px;
font-weight:bold;
 border-color: #abe686 #abe686 #abe686 #abe686;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;

    padding: 3px;
    margin-top:3px;

}


.green-button4{
background-color:#7799cd;
color:white;
font-size:19px;
font-weight:bold;
 border-color: white white white white;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;



}



.facebook-big-icon {
    background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/FGFbc80dUKj.png");
    background-position: 0 -127px;
    background-repeat: no-repeat;
    background-size: 50px auto;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 12px;
    width: 50px;
}

.facebook-medium-icon {
    background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/FGFbc80dUKj.png");
    background-position: 0 -138px;
    display: inline-block;
    line-height: 25px;
    height: 25px;
    margin-right: 12px;
    width: 25px;
    background-color:white;
    margin-left:5px;
}

.facebook-small-icon {
    background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/FGFbc80dUKj.png");
    background-position: 0 -188px;
    display: inline-block;
    line-height: 22px;
    height: 22px;
    width: 22px;
    background-color:white;
    margin-left:5px;
}

