/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

a:hover {background-color:transparent;}
/* REDEFINITIONS*/
body  {background:white;font:normal 100% Helvetica,Arial; color:black;margin:0;}


/*ul {list-style: none; margin:0; padding:0} */
select.classic{height:18px;font-size:11px}
a img{border:0 none}

/* COMMON */
.wrapper-1280{width:1216px; margin: 0px auto; }
.wrapper{width:960px; margin: 0px auto; }
.wrapper_with_wings{min-width:960px;margin: 0px auto; }
div.cleaner{ clear:both; }
ul.menu {list-style: none; margin:0; padding:0; }
ul.menu li {height:100%;float: left;  margin:0px; padding: 3px 5px;} 
div.hidden {display:none;}
.left_float{float:left;}
.right_float{float:right;}

