// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//book
.book { margin:0 7px 7px 0;padding:5px; border: medium none; border-radius: 4px 4px 4px 4px;  box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.3);} //rgba(0,0,0,.2) 0 1px 2px;
.book h1{color:#333333;margin:0px;font-size:21px;margin-top:10px;padding-left:10px;}
.book p.authors{font-size:14px;color:#8f8f8f;margin: 0 0 10px 15px; }
.book img{float:left; border:1px solid; color:#e7e7e7;}
.book .info{margin-left:320px;word-wrap: break-word; }
.book .friends img{float:left; border:1px solid; color:#e7e7e7;}
.book .friends .name{margin-left:55px;word-wrap: break-word;}

// Book item
.book-item{ margin:0 7px 7px 0;padding:5px 2px 4px 4px; border: medium none; border-radius: 4px 4px 4px 4px;  box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.3); //rgba(0,0,0,.2) 0 1px 2px;
    width: 225px; height: 110px;float:left;}
.book-item-small{width: 165px; height: 80px;}
//.book-item-search{width:335px}
.book-item img{float:left; border:1px solid; color:#e7e7e7;}
.book-item .info-container{padding-left:5px; word-wrap: break-word; display: table-cell; vertical-align: top;min-width:120px;}
.book-item-small .info-container{min-width:70px;}
.book-item .info{ height: 110px;position:relative;}

.book-item .title a {text-decoration:none; }
.book-item .title a div{font-size:13px;color:black; line-height: 1.1;max-height: 47px;overflow: hidden; }
.book-item-small .title a div{font-size:11px;}
.book-item .author{font-size:11px;color:#8f8f8f;  line-height: 1.2;max-height: 14px;overflow: hidden; }
.book-item-small .author{font-size:9px; }
.book-item .experiences{position:absolute; bottom:0px;}
.book-item .experiences ul {list-style: none; margin:0; padding:0; }
.book-item .experiences ul li{padding:0;font-size:11px;color:#8f8f8f;float:left;}
.book-item .experiences ul li.separator{padding:0 5px;}
.book-item .experiences ul a{font-size:11px;color:#8f8f8f;text-decoration:none;}
.book-item .experiences ul a:hover{color:#333333;font-size:11px;text-decoration:underline;}

.book-item .experiences img{margin-left:0px;float:left;border: 0;}
.book-item .experiences .user-name{ margin-left:30px;line-height: 1.1;padding-left:3px;height:20px;overflow:hidden;}
.book-item .experiences .user-name a{ font-size:12px;color:black;text-decoration:none;}
.book-item .experiences .recommender{ margin-bottom:12px;}
.book-item .experiences .confirm_message{ font-size:12px; color:#2160BA}

.book-item:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #FFFFFF;
    // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    z-index: 1;
    background-color:#EBEBEB;
}

span.search_paramater{color:#555555;font-size:17px;}

// Book show
