// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Slide 1, only one slide is displayed, the rest of the slides have display none, and the slides fade out and fade in
.bookshelf-slide1{}

.bookshelf-slider1{height:100px;padding:3px  1px 5px 1px;}


//Slide 2. every slide is displayed but they are hidden for the container, that has the overflow:hidden property, the slides move to one direction.
.bookshelf-slider-container{width:10000px;}
.bookshelf-slide{float:left;}

.bookshelf-slider{float:left;overflow:hidden;height:100px;width:848px;padding:5px 1px;}

.slider-left-arrow{float:left;width:50px;height:100px;
    background-image: url("slider-left-arrow.png");width: 50px; height:47px;
}
.slider-left-arrow:hover{float:left;width:50px;height:100px;
    background-image: url("slider-left-arrow-hover.png");width: 50px; height:47px;

}
.slider-right-arrow{float:left;width:50px;}



.book_list h2{float:left;color:#333333;margin:0px;font-size:19px;margin-top:10px;padding-left:10px;}
.book_list .menu{float:right;padding:10px 35px 0 0;}
.book_list .menu a{color:#333333;font-size:14px;}
.book_list .menu a:hover{color:#333333;font-size:14px;text-decoration:underline;}

.book{
  margin-right:7px;
  padding:5px 2px 4px 4px;
  border: medium none;
    border-radius: 4px 4px 4px 4px;
     box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);

    //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    //border-radius: 0 0 100% 100% / 0 0 10px 10px;
    margin-bottom: 7px;
    width: 225px;
    height: 110px;
    float:left;
}
.book img{float:left; border:1px solid; color:#e7e7e7;}
.book .info{padding-left:5px;
word-wrap: break-word; 
display: table-cell;
    vertical-align: top;

}


.book .title{font-size:13px; }
.book .author{font-size:11px;color:#8f8f8f; }

.book:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #FFFFFF;
    // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    z-index: 1;
    background-color:#EBEBEB;
}


