// Place all the styles related to the experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-box {padding:3px;margin:0 5px 5px 0;float:left;width:110px;overflow:hidden; border:1px solid #e7e7e7; }
.friend-box:hover {background-color:#e7e7e7;cursor:pointer; }
.friend-box  img{margin-left:0px;float:left;border: 0;}
.friend-box .user-name{ width:60px;font-size:11px;margin-left:45px;line-height: 1.1;padding-top:2px;padding-left:3px;height:40px;overflow:hidden;}
.influence-rate{padding-bottom:4px;}
.influence-rate h2{float:none;color:#2160BA;font-size: 20px; font-weight: bold;margin:0px; }
.influence-rate p{font-size:13px;color:#8f8f8f;  line-height: 1.2; margin:4px 0 10px 0;}
.recommend-header{float:left; width: 400px;padding-bottom:4px;}
.recommend-header h2{float:none;color:#2160BA;font-size: 20px; font-weight: bold;margin:0px; }
.recommend-header p{font-size:13px;color:#8f8f8f;  line-height: 1.2; margin:4px 0 10px 0;}
.recommend-header ul {float:right;}
.recommend-header ul li a{font-size:13px;color:#8f8f8f;font-weight:bold;text-decoration:none;padding:5px;border-radius: 3px;}
.recommend-header ul li a:hover,.recommend-header ul li a.selected{background-color: #555555;color:#ffffff;}
.recommend_form{height:30px;padding:5px 50px 5px 0;}
a.submit{font-weight:bold;float:right;background-color:#2160BA;padding:5px;color:#ffffff;text-decoration:none;border-radius: 3px; 
    box-shadow: 0 1px 0 #F1F1F1, 0 1px 1px #E0E0E0 ;}
#recommendation_error_message{margin-left:40px;margin-top:10px;}
