

        <%= link_to image_tag("http://graph.facebook.com/#{widget_small_user[:uid]}/picture"), bookcase_path(:id => widget_small_user[:id])%> 
        <div class="name"> <%= link_to widget_small_user[:name], bookcase_path(:id => widget_small_user[:id])%> </div>
