<div class="review">
  <div class="review-user">
    <%= link_to image_tag("http://graph.facebook.com/#{review_item.user.uid}/picture",:width => 40  ), bookcase_path(:id => review_item.user.id )%>
    <div class="user-name"><%= link_to review_item.user.name, bookcase_path(:id => review_item.user.id )%></div>
  </div>


  <div class="content">
    <%= review_item.content %>
  </div>

</div>
